<nav class="navbar navbar-default navbar-fixed-top dash" role="navigation"> 
	<div class="container">
		<div class="navbar-header">
			<a href="#intro" class="navbar-brand">TeamStream</a>
		</div>
	
		<ul class="nav navbar-nav">
			<li><a href="#about">About</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
	</div>
</nav>
<div class="intro-section" id="intro">
	<div class="container">
		<h2 class="sign">TeamStream</h2>
		<div class="hero">
			<div class="row">
				<div class="col-md-4"><h3 class="intro-header">Your Team</h3></div>
				<div class="col-md-8"><h3 class="intro-header">How they doing</h3></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="main-team">
						<%= image_tag "49ers.gif", :class => "logo" %>
					</div>
				</div>
				<div class="col-md-8">
					<h2>49ers fans are saying:<br>
						<span id="tweet_span" data-typer-targets=""></span>
					</h2>
				</div>
			</div>

			<div class="row charts">
				<div class="col-md-4 odd">
					<h3 class="intro-header">Sentiment</h3>
					<div id="chartdiv-gauge"></div>
				</div>
				<div class="col-md-4 even">
					<h3 class="intro-header">Overall</h3>
					<p class="chart-info">Positive</p>
				</div>
				<div class="col-md-4 odd">
					<h3 class="intro-header">Latest Tweet</h3>
					<p class="chart-info">49ers are my favorite</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 wide-chart">
				<h3 class="intro-header">History</h3>
				<div id="chartdiv-line"></div>
			</div>
			</div>
			
			
			
		</div>
	</div><!-- end of container -->
</div> <!-- end of intro-section -->

			



		</div><!-- end of hero -->
	</div><!-- end of container -->
</div> <!-- end of intro-section -->

<section>

	<button id="proxy">Tweet Score with Proxy </button>
	<div id="ajax_div"></div>
</section>







<div id="about">

	<div class="container">
		<h2 class="section-titles">About</h2>
		<div class="row icons">
			<div class="col-md-4">
				<span class="glyphicon glyphicon-cloud center-block"><span>
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-screenshot center-block"><span>
			</div>
			<div class="col-md-4">
				<span class="glyphicon glyphicon-signal center-block"><span>
			</div>
		</div>
		<div class="row about">
			<div class="col-md-4">
				<h3>Ruby on Rails</h3>
				<span class="line"></span>
				<p>We are using Ruby on Rails to to create this fun little app to see how your team stands in the social world.</p>
			</div>

			<div class="col-md-4">
				<h3>Semantic Api</h3>
				<span class="line"></span>
				<p>Using <a href="http://www.alchemyapi.com/">Alchemy API</a>, we determine the sentiment of tweets that mention your particular team. The API gives a score that determines if people are talking shit or supporting your team.</p>
			</div>
			<div class="col-md-4">
				<h3>Amchart</h3>
				<span class="line"></span>
				<p>We use <a href="http://www.amcharts.com/">Amchart</a> to map out the incoming data to visualize the sentiment towards your lame ass team. </p>
			</div>
		</div><!-- end of row -->
		

	</div>
</div><!-- end of about -->




<div id="contact" class="contact">
	<div class="container">
		<h2 class="section-titles">Contact</h2>
		<div class="links">
			<div class="col-md-4">
				<a href="https://github.com/edrhuang/team_stream" id="github">github</a>
			</div>
			<div class="col-md-4">
				<a href="https://www.linkedin.com/pub/edward-huang/34/30a/a89" id="eddie">eddie</a>
			</div>
			<div class="col-md-4">
				<a href="https://www.linkedin.com/pub/douglas-stockalper/11/14/aab" id="doug">doug</a>
			</div>
		</div>
		
	</div>
		
</div>

<script> 
	$(function() {
		$('[data-typer-targets]').typer();
	});
</script>



